@model KwikKwekSnek.Models.Drankje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Drankje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="afbeelding" class="control-label"></label>
                <input asp-for="afbeelding" class="form-control" />
                <span asp-validation-for="afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prijs" class="control-label"></label>
                <input asp-for="prijs" class="form-control" />
                <span asp-validation-for="prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grootte" class="control-label"></label>
                <input asp-for="grootte" class="form-control" />
                <span asp-validation-for="grootte" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ijs" /> @Html.DisplayNameFor(model => model.ijs)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="plasticrietje" /> @Html.DisplayNameFor(model => model.plasticrietje)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
